* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    border: #FFD700 2px solid;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }



/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    width: 300px;
    height: 400px;
    min-width: 300px;
    border: 3px gold solid;
    margin: 10px;
    border-radius: 5%;
    background-color: rgb(143, 143, 143);
    display: inline-block;
    position: relative;

}

.box1 {
    position: relative;

}

.lily {
    position: absolute;
    top: 3.5em;
    font-size: 3em;
}

.fred {
    position: absolute;
    top: 3.5em;
    font-size: 3em;
} */

footer {
    text-align: center;
    margin: 1%;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: #FFD700;
}

.chartContainer {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: blue;
}
